*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: #081b31;
    color: white;
    padding: 15px;
    text-align: center;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    margin-top: 3rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.choice:hover{
    background-color: rgb(20, 20, 53);
    cursor: pointer;
}

img{
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    padding-top: 48px;
}

#user-score, #comp-score{
    text-align: center;
    font-size: 4rem;

}

.msg-container{
    
    text-align: center;
    align-items: center;
    margin-top: 5rem;
}

#msg{
    border-radius: 1rem;
    background-color: #081b31;
    font-size: 2rem;
    color: white;
    display: inline;
    padding: 1rem

}